.todo-list {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  max-width: 624px;
  width: 100%;
  margin: 12px 0;
  padding: 0 12px;
  overflow: hidden;
}

.todo-list__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 20px;
  box-sizing: border-box;
  max-width: 600px;
  width: 100%;
  margin: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 6px;
  overflow-y: scroll;
}

.todo-list__list::-webkit-scrollbar {
  scroll-behavior: smooth;
  background: rgba(0, 0, 0, 0);
  border-radius: 4px;
  width: 6px;
}

.todo-list__list::-webkit-scrollbar-thumb {
  background: #ced8de;
  border-radius: 4px;
}

.todo-list__list-item {
  width: 100%;
}
