.app-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-items: flex-start;
  align-items: center;
  width: 100%;
  max-height: calc(100% - 128px - 80px); /* header: 128px; footer: 80px */
}
