.todo {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  box-sizing: border-box;
  min-width: 540px;
  height: 180px;
  padding: 20px;
  background-color: white;

  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
}

.todo__header {
  display: flex;
  justify-content: space-between;
  align-items: top;
}

.todo__title {
  display: inline;
  margin: 0;
  margin-left: 20px;
  padding: 0;

  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;

  color: #333333;
}

.todo__button-group {
  display: flex;
  column-gap: 6px;
}

.todo_completed {
  background-color: var(--success-color-opacity20);
  color: #33333320;
}

.todo_completed .todo__title {
  text-decoration: line-through;
  color: #33333320;
}
