.app__container {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  min-width: 320px;
  height: 100%;
  background-image: url('../assets/images/bg.jpg');

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #111111;
}

.app__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.app__title {
  margin: 0;
  font-weight: 400;
  font-size: 3rem;
  line-height: 100%;
  color: #3071f2;
}

.app__content {
  display: flex;
  flex-grow: 1;
  min-width: 300px;
  /* width: 1000px; */
  max-width: 1200px;
  border: 1px solid black;
  margin: 0 auto;
}

.app__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 80px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}
