.app__container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  min-width: 320px;
  height: 100%;
  background-image: url('../assets/images/bg.jpg');

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #111111;
}

.app__content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  width: 100%;
  max-width: 1200px;

  overflow: hidden;
}

.app__add-todo-button {
  font-weight: 400;
  font-size: 1.4rem;
  padding: 20px;
  margin: 10px;
  border: none;
  background-color: var(--primary-color);
  color: white;
}
